/*our background setting*/
body{
	background-color: pink;
}

/*our title line*/
h1{
	color: white;
	font-family: "Comic Sans MS", cursive;
	font-size: 2.5em;
}

/*our paragraph setting (actually only for "result")*/
p{
	margin-left: 4px;
	font-family: "Times New Roman", serif;
}
