* {
  margin: 0;
  border:0;
  padding:0;
  font-family: "URW Chancery L", cursive;
  font-weight: 900;
  color: #fff;
}

body {
  background-color: #ffa9b7;
  padding: 50px;
  text-align: center;
  padding-top: 100px;
  font-size: 30px;
}

h1 {
  margin-bottom: 200px;
}

a {
  text-decoration: none;
}

.link_button {
  height: 40px;
  line-height: 40px;
  display: inline-block;
  width: 120px;
  background-color: #FF8494;
  margin: 20px auto;
  font-size: 15px;
}
